$foo-main-text: #fff
$foo-app-info-text: #ffffffa7
$foo-text-hover-text: rgba(69 181 255)
$foo-fiature-color: #e54
$foo-main-background: rgb(46 51 57)
$foo-modal-background: rgba(222 211 211 / 50%)
$foo-bottom-aside: 20px

@mixin visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden
