@import '../../../global.scss';
.members {
    padding: 10px 0;
    width: 100%;
}

.userChatCard {
    display: flex;
    align-items: center;

    &__avatar {
        height: 32px;
        width: 32px;
        object-fit: cover;
        border: 2px solid $foo-main-background;
        border-radius: 50%;
        background-position: center;
        box-shadow: -1px -1px 1px gray, 1px 1px 1px #000;
    }

    &__name {
        color: $foo-main-text;
        margin-left: 10px;
    }

    &__deleteButton {
        margin-left: auto;
        cursor: pointer;
        color: $foo-app-info-text;
        background-color: transparent;
        border: 0;

        &:hover {
            color: $foo-text-hover-text;
        }
    }
}

.chatowner {
    margin: 10px;
    color: $foo-app-info-text;
    margin-left: auto;
}
