@import '../../../global.scss';

.proposals {
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $foo-modal-background;

    @media (width >= 640px) {
        width: 30%;
    }

    &__control {
        display: flex;
        justify-content: space-between;
        color: $foo-main-text;
    }

    &__addButton {
        width: 50%;
        cursor: pointer;
        padding: 10px 20px;
        background-color: $foo-fiature-color;
        color: $foo-main-text;
        border: 0;

        &:hover {
            background-color: $foo-main-background;
        }
    }

    &__clearButton {
        width: 50%;
        cursor: pointer;
        padding: 10px 20px;
        background-color: $foo-main-background;
        color: $foo-main-text;
        border: 0;

        &:hover {
            background-color: $foo-fiature-color;
        }
    }
}

.proposalitem {
    cursor: pointer;
    padding: 10px;
    color: $foo-main-text;
    display: flex;
    align-items: center;

    &--pressed {  
        background-color: $foo-fiature-color;
    }

    &:hover {
        color: $foo-main-text;
    }

    &__avatar {
        height: 16px;
        width: 16px;
        object-fit: contain;
    }

    &__name {
        margin-left: 10px;
    }
}
