@import '../../../global.scss';

.notfound {
    &__container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        text-align: center;
        color: $foo-main-text;
    }

    &__backNavigate {
        cursor: pointer;
        text-decoration: none;
        padding: 10px 30px;
        border: 1px solid $foo-fiature-color;
        color: $foo-fiature-color;
        background-color: transparent;        
    }
} 
